# Core functionality - changes here should be rare!
/src/app.py                   @jaha101
/src/backend/database.py      @jaha101
/src/backend/routers/auth.py  @jaha101

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jaha101
